<?xml version="1.0" encoding="UTF-8"?>
<?define BuildNumber = "0"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="TrackType"
          Version="0.9.2.$(var.BuildNumber)"
          Manufacturer="OptiTrack"
          UpgradeCode="B2C3D4E5-F6A7-8901-BCDE-F12345678901"
          IconSourceFile="icons\TrackType.ico">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                              LicenseUrl=""
                                              LogoFile="icons\TrackType-logo.png" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="TrackType-Windows.msi" />
    </Chain>

  </Bundle>

</Wix>
