<?xml version="1.0" encoding="UTF-8"?>
<?define BuildNumber = "0"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">

  <Bundle Name="TrackType"
          Version="0.9.0.$(var.BuildNumber)"
          Manufacturer="OptiTrack"
          UpgradeCode="90E90BF8-824A-4BB2-8B23-6D7CA4091DDF"
          IconSourceFile="installer\TrackType.ico">

    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication Theme="hyperlinkLicense"
                                              LicenseUrl=""
                                              LogoFile="icons\TrackType-logo.png" />
    </BootstrapperApplication>

    <Chain>
      <MsiPackage SourceFile="TrackType-Windows.msi" />
    </Chain>

  </Bundle>

</Wix>
